<table>
	<thead>
	</thead>
	<tbody>
		<tr>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '0' primal-row: '0' row-span: '1' primal-column: '0' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '1' primal-row: '0' row-span: '1' primal-column: '1' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '2' primal-row: '0' row-span: '1' primal-column: '2' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '3' primal-row: '0' row-span: '1' primal-column: '3' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
		</tr>
		<tr>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '4' primal-row: '1' row-span: '1' primal-column: '0' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "2" colspan = "1"><!-- cell-key: '5' primal-row: '1' row-span: '2' primal-column: '1' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "2" colspan = "1"><!-- cell-key: '6' primal-row: '1' row-span: '2' primal-column: '2' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '7' primal-row: '1' row-span: '1' primal-column: '3' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
		</tr>
		<tr>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '8' primal-row: '2' row-span: '1' primal-column: '0' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '9' primal-row: '2' row-span: '1' primal-column: '3' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
		</tr>
		<tr>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '10' primal-row: '3' row-span: '1' primal-column: '0' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '11' primal-row: '3' row-span: '1' primal-column: '1' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '12' primal-row: '3' row-span: '1' primal-column: '2' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
			<td rowspan = "1" colspan = "1"><!-- cell-key: '13' primal-row: '3' row-span: '1' primal-column: '3' column-span: '1' profile-key: 'literal' cell-function: 'operation' operation-id: '1' --></td>
		</tr>
	</tbody>
</table>